@font-face {
    font-family: "PacFont";
    src: url("../assets/fonts/PAC-FONT.TTF");
}

body {
    margin: 0%;
    padding: 0%;
    background-color: black;
}

#ctnGeneral {
    display: grid;
    grid-template-columns: 145px 550px 530px 550px 145px;
    grid-template-rows: 200px 300px 110px 150px 280px;
}

#titleCtn {
    grid-column: 2/5;
    grid-row: 2/3;
    width: auto;
    height: auto;
    background-color: #F08200;
    border-radius: 100px;
    border: 5px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-family: "PacFont";
    font-size: 12em;
    color: #FCCF00;
}

#playCtn {
    grid-column: 3/4;
    grid-row: 4/5;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playText {
    font-family: "PacFont";
    font-size: 5em;
}


.table{
    font-family: "PacFont";
    font-size: 1.2em;
    color: white ;
    
}
#titlepage {
    justify-content: center;
    font-size: xx-small;
    display: flex;
    align-items: center;
    color: white;
}
 .fa-question{
     color: white;
 }

a :hover{
    color: white;
}
#titlehelp {
    font-family: "PacFont";
    justify-content: center;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: #FCCF00;
}