.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    background-color: black;
}
  
.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: yellow;   
    border: 5px solid black;
    border-radius: 50%;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: purple;
    border-radius: 10px;
}

.blinky {
    background-image: url("../img/ghostRedRight.png");
    background-size: contain;
    background-color: black;
    border: 0;
    border-radius: 0%;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;     
}

.scared-ghost {
    background-color: aquamarine;
}


.pac-man {
    background-image: url("../img/pacman.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}
.pac-manL {
    background-image: url("../img/pacL.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}
.pac-manB {
    background-image: url("../img/pacB.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}
.pac-manH {
    background-image: url("../img/pacH.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}
