@font-face {
    font-family: "PacFont";
    src: url("../fonts/PAC-FONT.TTF");
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: black;
}

#ctnGeneral {
    display: grid;
    grid-template-columns: 145px 550px 530px 550px 145px;
    grid-template-rows: 90px 300px 110px 150px 280px;
}

#titleCtn {
    grid-column: 2/5;
    grid-row: 2/3;
    width: auto;
    height: auto;
    background-color: black;
    border-radius: 100px;
    border: 5px #0D24AA solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    margin-top: 50px;
    font-family: "PacFont";
    font-size: 12em;
    color: #FCCF00;
    font-weight: bold;
}

#playCtn {
    grid-column: 3/4;
    grid-row: 4/5;
    width: auto;
    height: auto;
    background-color: #0D24AA;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playText {
    font-family: "PacFont";
    font-size: 5em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#playText:hover {
    color: #FCCF00;
}

.table {
    font-size: 1.2em;
    color: white;
}

.scoreTitle {
    font-family: "PacFont";
    margin-left: 50px;
    font-size: 2em;
    color: white;
}

#score {
    font-family: Arial, Helvetica, sans-serif;
}

#titlepage {
    justify-content: center;
    font-size: xx-small;
    display: flex;
    align-items: center;
    color: white;
}

.fa-question-circle {
    color: white;
    cursor: pointer;
    font-size: 2em;
}

.fa-question-circle:hover {
    color: #0D24AA
}

a :hover {
    color: white;
}


/* MODAL */

#exampleModalLabel {
    color: #FCCF00;
}

@media (max-width: 480px) {
    #ctnGeneral {
        display: grid;
        grid-template-columns: 22px 81px 274px 81px 22px;
        grid-template-rows: 250px 150px 55px 55px 260px;
    }
    #titleCtn {
        grid-column: 2/5;
        grid-row: 2/3;
        width: auto;
        height: auto;
    }
    #title {
        font-size: 3.5em;
    }
    #playCtn {
        grid-column: 3/4;
        grid-row: 4/5;
        width: auto;
        height: auto;
        text-decoration: none;
    }
    #playText {
        font-family: "PacFont";
        font-size: 2em;
        text-decoration: none;
        color: #FCCF00;
        font-weight: bold;
    }
}

.gridG {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    background-color: black;
}

.gridG div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: yellow;
    border: 5px solid black;
    border-radius: 50%;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: purple;
    border-radius: 10px;
}

.blinky {
    background-image: url("../img/ghostRedRight.png");
    background-size: contain;
    background-color: black;
    border: 0;
    border-radius: 0%;
}

.pinky {
    background-image: url("../img/ghostPinkRight.png");
    background-size: contain;
    background-color: black;
    border: 0;
    border-radius: 0%;
}

.inky {
    background-image: url("../img/ghostblue.png");
    background-size: contain;
    background-color: black;
    border: 0;
    border-radius: 0%;
}

.clyde {
    background-image: url("../img/ghostYellowRight.png");
    background-size: contain;
    background-color: black;
    border: 0;
    border-radius: 0%;
}

.scared-ghost {
    background-image: url("../img/ghostScared.png");
    background-size: contain;
    background-color: black;
    border: 0;
    border-radius: 0%;
}

.pac-man {
    background-image: url("../img/pacman.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.pac-manL {
    background-image: url("../img/pacL.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.pac-manB {
    background-image: url("../img/pacB.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.pac-manH {
    background-image: url("../img/pacH.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.gameDisplay {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}